$theme-font: QualcommWeb,
Arial,
sans-serif;
$theme-font-weight: 400;
$theme-font-smoothing: antialiased;
body {
  font-family: $theme-font;
  font-weight: $theme-font-weight;
  -webkit-font-smoothing: $theme-font-smoothing;
}

header,
.content {
  margin-left: 120px;
}

.nav[role=navigation] {
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 80px;
  z-index: 10;
  border-right: 1px solid #e6e8e9;
  border-bottom: none;
  display: flex;
  flex-flow: column nowrap;
}

.nav__item-img path {
  // display: block;
  // cursor: pointer;
  fill: #acacac;
}

nav[role=navigation] .nav__item a {
  color: #acacac;
  cursor: pointer;
  fill: #acacac;
  font-size: 12px;
  height: 90px;
  text-align: center;
  padding: 25px 0px;
  // transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}